body {
  display: flex;
  flex-direction: column;
}
#building-params {
  display: flex;
  justify-content: center;

  flex: 1;

  width: 30vw;
  height: 5vh;
  z-index: 1;

  position: absolute;
  --dist: 1vw;
  top: var(--dist);
  right: var(--dist);

  label {
    border: 1px solid red;
  }
}

#building {
  background-color: lightgrey;

  flex: 20;
  position: relative;
}
