body {
  display: flex;
  flex-direction: column;
}
#building-params {
  display: flex;
  flex: 1;
  z-index: 1;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.3);
  --pad: 1rem;
  padding-top: var(--pad);
  padding-bottom: var(--pad);

  left: 50%;
  transform: translateX(-50%);
  justify-content: space-evenly;
  align-items: center;

  flex-wrap: wrap;

  width: min(100vw, 50rem);

  z-index: 2;

  & > input {
    flex: 1;
    max-width: 89vw;
    font-size: 1.4rem;
    padding: 0.5rem;
  }
  .inputs {
    flex: 4;

    display: flex;
    justify-content: space-evenly;

    label {
      padding: 0.2rem;
      text-align: center;
      & > input {
        font-size: 1rem;
        text-align: center;

        max-width: 6rem;
      }
    }
  }
}

#building {
  background-color: lightgrey;

  flex: 20;
  position: relative;
}
