#allElevators {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: calc(10vw * var(--num-elevators));
  height: 100%;

  display: flex;
  justify-content: space-between;
}

.shaft {
  width: calc(80% / var(--num-elevators));
  height: 100%;
  position: relative;

  .elevator {
    background-color: firebrick;

    width: 100%;
    height: var(--floor-height);
    position: absolute;
    bottom: 0;

    transition: transform var(--travel-time) ease-in-out,
      background-color 0.25s linear;
    transform: translateY(
      calc(-1 * calc(var(--curr-floor, 0) * var(--floor-height)))
    );

    --translation: calc(-1 * calc(var(--curr-floor) * var(--floor-height)));
    transform: translateY(var(--translation));
  }

  &.is-idle {
    .elevator {
      background-color: cornflowerblue;
    }
  }
}
