#allElevators {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);

  width: calc(5rem * var(--num-elevators));
  height: 100%;

  display: flex;
  justify-content: space-between;

  z-index: 1;
}

.shaft {
  width: calc(80% / var(--num-elevators));
  height: 100%;
  position: relative;

  .elevator {
    background-color: firebrick;

    z-index: 1;

    width: 100%;
    height: var(--floor-height);
    position: absolute;
    bottom: 0;

    transition: transform var(--travel-time) ease-in-out,
      background-color 0.25s linear;
    transform: translateY(
      calc(-1 * calc(var(--curr-floor, 0) * var(--floor-height)))
    );

    --translation: calc(-1 * calc(var(--curr-floor) * var(--floor-height)));
    transform: translateY(var(--translation));

    display: flex;
    flex-direction: column;

    .elevator-data {
      border: 1px solid darkslategrey;
      flex: 1;
      font-size: 0.9rem;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      align-items: center;

      span {
        font-size: 1.3rem;
        text-align: center;
      }
    }
  }

  &.is-idle {
    .elevator {
      background-color: cornflowerblue;
    }
  }
}
