:root {
  --floor-height: 30vh;
}
.floor {
  // border: 1px solid red;
  &:not(:last-of-type) {
    border-bottom: 1px solid black;
  }

  width: 100%;
  height: var(--floor-height);

  position: relative;

  .floor-num {
    --size: 2vw;
    width: var(--size);
    height: var(--size);
    border-radius: 15%;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: cornflowerblue;
    color: white;

    font-size: 2rem;

    position: absolute;
    --dist: calc(var(--size) / 2);
    top: var(--dist);
    left: var(--dist);
  }

  .call-button {
    border: 2px solid red;

    --size: 2vw;
    width: var(--size);
    height: var(--size);
    border-radius: 100%;
    outline: none;
    position: absolute;
    top: 50%;
    left: 3%;
  }
}
